<!DOCTYPE html>
<html>
<head>
  <title>Pastern</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- logo-->
<img src="{{ url_for('static', filename='images/pasternlogo.png') }}" 
     alt="pastern logo" 
     class="logo">

  
  <form method="POST">
    <textarea name="content" class="textarea" Paste something..."></textarea><br>
    <button type="submit">PASTE</button>
  </form>




  <form method="GET" action="/search" class="searcharea">
    <input type="text" name="q" placeholder="Search by keyword..." value="{{ search or '' }}">
    <button type="submit">Search</button>
  </form>

  <h2>Recent Pastes</h2>
  <ul>
    {% for entry in entries %}
      <li>
        <b>{{ entry[3] }}</b><br>
        {{ entry[1] }}<br>
        <small>Keywords: {{ entry[2] }}</small>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
